@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Patrick+Hand&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #4a646c ;
}

.titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: max-content;
    margin: 10px auto;
    width: 350px;
}

.card{
    border: 1px solid rgb(206, 207, 207);
    border-radius: 5px;
    width: 350px;
    background-color: white;

}

img{
    object-fit: cover;
    width: 350px;
    height: 350px;
}


.sub-contenedor{
    padding: 0 20px 20px;
}

.texto{
    text-align: justify;
}

.btn{
    border: none;
    background-color: #4a646c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: filter,transform 500ms ease;
}

.btn:hover{
    filter: brightness(1.25);
    transform: scale(1.1);
    transition: filter,transform 500ms ease;
}

.btn::after{
    content: "";
    background: url("./arrow_icon.png")no-repeat;
    background-size: 100%;
    width: 10px;
    aspect-ratio: 1;
    display: block;
    margin-left: 10px;
}

a{
    text-decoration: none;
    color: white;
}